@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table class="table	table-bordered	table-hover">
    <tr>
        <th style="font-weight:bold">Movies</th>
        <th>Genre</th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td>We don't have any movie yet.</td>
        </tr>
    }
    else
    {
        foreach (var movie in Model)
        {
            <tr>
                <td><a href="@Url.Action("Details",new {id = movie.Id })">@movie.Name</a></td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    }
</table>

