@model Vidly.ViewModels.RandomMovieViewModel
@*@using Vidly.Models;*@
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@( ((Movie)ViewData["Movie"]).Name  )</h2>*@

@* 
    This is a comment
    on multiple lines
*@

@{ 
    var className = Model.Customers.Count > 3 ? "text-success" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>


@if (Model.Customers.Count == 0)
{


    <text>No one has rented this movie before.</text>
}
else
{
    <ul>
        @foreach (var cust in Model.Customers)
        {
            <li>@cust.Name</li>
        }
    </ul>

}

