@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<a href="@Url.Action("Create","Customers")" class="btn btn-info">Create New</a>

<table class="table	table-bordered	table-hover">
    <tr>
        <th style="font-weight:bold">Customer</th>
        <th>Membership Type</th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td>We don't have any customer yet.</td>
        </tr>
    }
    else
    {
        foreach (var customer in Model)
        {
            <tr>
                <td><a href="@Url.Action("Edit",new {id = customer.Id })">@customer.Name</a></td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
    }
</table>